@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin cor-cards-alert($background, $h3, $p) {
  background-color: $background;

  h3 {
    color: $h3;
  }

  p {
    color: $p;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  .box-links-header {
    width: 80%;
    height: 6vh;
    border-radius: 50px;
    @include flex(center, space-around);
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    margin-top: 30px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);

    nav {
      width: 40%;
      @include flex(center, space-evenly);

      a {
        color: white;
        text-decoration: none;
        font-family: "Roboto", Arial;
        font-size: 1.25rem;
      }
    }
  }
}

.box-banner-header {
  width: 80vw;
  height: 48vh;
  display: flex;
  align-items: center;

  .box-banner-texts {
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    h2 {
      font-size: 2.813rem;
      font-family: "Inter", Arial;
      background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
      // Pesquisar o que é Webkit
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
    }

    p {
      color: #04031c;
      width: 70%;
      font-size: 1.625rem;
      font-weight: normal;
      font-family: "Inter", Arial;
      margin-bottom: 20px;
    }
  }
}

.container-button-header {
  display: flex;
  gap: 20px;

  .btn-header-agendar {
    background-color: #1173d4;
    padding: 16px 60px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
  }

  .btn-header-agendar:hover {
    background-color: #33cc73;
  }

  .btn-header-saiba-mais {
    background-color: transparent;
    padding: 16px 50px;
    border: 1px solid #1173d4;
    border-radius: 10px;
    color: #1173d4;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
  }

  .btn-header-saiba-mais:hover {
    background-color: #1173d4;
    color: white;
  }
}

.first-main-section {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  .texts-main-section {
    width: 60%;
    padding: 10px;

    h2 {
      font-size: 2.813rem;
      font-family: "Inter", Arial;
      background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      margin: 20px 0;
    }

    p {
      color: #04031c;
      font-size: 1.5rem;
      font-family: "Inter", Arial;
      margin: 40px 0;
    }
  }
}

.flex-container-cards {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

.card-1 {
  padding: 10px;
  font-family: "Inter", Arial;
  color: #04031c;

  img {
    width: 50px;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

#cards-mulher-section {
  background-color: #fdefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 2.813rem;
    font-family: "Inter", Arial;
    background: linear-gradient(
      90deg,
      rgba(249, 1, 111, 1) 54%,
      rgba(147, 8, 133, 1) 61%,
      rgba(208, 56, 170, 1) 75%,
      rgba(133, 28, 135, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-top: 2.5rem;
  }

  .container-cards-mulher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 2.5rem;
    width: 100%;
    max-width: 1200px;
    font-family: "Roboto", Arial;
    margin-bottom: 60px;

    .cards-mulher {
      flex: 0 1 260px;
      height: 450px;
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      gap: 20px;
      align-items: center;
      text-align: center;
      box-sizing: border-box;

      img {
        margin-top: 20px;
      }

      h2 {
        font-size: 1.25rem;
      }

      ul {
        list-style-type: disc;
        list-style-position: inside;
        align-items: center;
        width: 90%;
        margin: 0;

        li {
          text-align: left;
          width: 100%;
          margin: 8px;
          font-size: 0.875rem;
          line-height: 20px;
        }

        li::marker {
          font-size: 0.7em; // Diminui o tamanho do marcador
        }
      }
    }
  }
}

// SEÇÃO PREVENÇÃO MASCULINA

#cards-homem-section {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 2.813rem;
    font-family: "Inter", Arial;
    background: linear-gradient(
      90deg,
      rgba(51, 115, 210, 1) 0%,
      rgba(111, 149, 199, 1) 29%,
      rgba(123, 181, 245, 1) 48%,
      rgba(0, 116, 238, 1) 70%,
      rgba(94, 167, 239, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-top: 2.5rem;
  }

  .container-homem-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 2.5rem;
    width: 100%;
    max-width: 1200px;
    font-family: "Roboto", Arial;
    margin-bottom: 60px;

    .cards-homem {
      flex: 0 1 260px;
      height: 450px;
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      gap: 20px;
      align-items: center;
      text-align: center;
      box-sizing: border-box;

      img {
        margin-top: 20px;
      }

      h2 {
        font-size: 1.25rem;
      }

      ul {
        list-style-type: disc;
        list-style-position: inside;
        align-items: center;
        width: 90%;
        margin: 0;

        li {
          text-align: left;
          width: 100%;
          margin: 8px;
          font-size: 0.875rem;
          line-height: 20px;
        }

        li::marker {
          font-size: 0.7em;
        }
      }
    }
  }
}

.alertas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;

  h2 {
    padding: 30px 0 60px 0;
    font-size: 2.813rem;
    font-family: "Inter", Arial;
    background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}

.flex-container-cards-alertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 100px;
  width: 100%;
  max-width: 1100px;
  font-family: "Roboto", Arial;

  .card-alert1,
  .card-alert2,
  .card-alert3,
  .card-alert4 {
    height: 150px;
    width: 450px;
    padding: 20px;
    border-radius: 10px;

    img {
      width: 35px;
      height: 35px;
    }

    h3 {
      font-size: 1.25rem;
    }

    .flex-alertas-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    p {
      margin-top: 10px;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.card-alert1 {
  @include cor-cards-alert(#f9d5e5, #ad346a, #ad346a);
}

.card-alert2 {
  @include cor-cards-alert(#d4edda, #244a2d, #244a2d);
}

.card-alert3 {
  @include cor-cards-alert(#cfe2f3, #2769a3, #2769a3);
}

.card-alert4 {
  @include cor-cards-alert(#ffe9c2, #976c00, #976c00);
}

// --- FOOTER ---

footer {
  background-color: #313461;
  height: 48vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Poppins", sans-serif;

  .footer-texts-container {
    display: flex;
    padding: 60px 0;
    width: 80%;
    justify-content: space-between;
    align-items: start;

    article {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 28%;

      img {
        width: 40%;
      }

      h3 {
        font-size: 1rem;
        color: white;
        font-weight: 700;
      }

      p {
        color: white;
        font-size: 1rem;
        font-weight: 400;
        width: 80%;
      }
    }

    h2 {
      color: white;
      font-size: 1.125rem;
    }

    nav {
      ul {
        list-style-type: none;

        li {
          a {
            text-decoration: none;
            color: white;
            line-height: 40px;
          }
        }
      }
    }
  }
}

.footer-texts-container {
  article {
    h5 {
      color: white;
      font-size: 1rem;
      font-weight: 400;
    }

    .article-footer-3 {
      width: 80%;
    }
  }
}

.footer-copyright {
  text-align: center;
  width: 100%;
  border-top: 1px solid #9fabbc;

  p {
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    color: white;
  }
}

//
// RESPONSIVIDADE
//

@media (max-width: 1716px) {
  header {
    height: 60vh;

    .box-links-header {
      width: 90vw;
    }
  }

  .box-banner-header {
    width: 90vw;

    .box-banner-texts {
      height: 50vh;

      h2 {
        width: 40vw;
      }
    }
  }
}

//
// -- 1500px --
//
@media (max-width: 1500px) {
  header {
    height: 55vh;

    .box-links-header {
      width: 90vw;
      margin-top: 30px;

      nav {
        width: 60%;

        a {
          font-size: 1.25rem;
        }
      }
    }
  }

  .box-banner-header {
    .box-banner-texts {
      height: 40vh;

      h2 {
        font-size: 3rem;
        width: 40vw;
      }

      p {
        width: 100%;
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
    }
  }

  .first-main-section {
    .texts-main-section {
      width: 78%;

      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

//
// -- 1100px --
//

@media (max-width: 1100px) {
  header {
    height: 50vh;

    .box-links-header {
      nav {
        width: 70%;
      }
    }
  }

  .box-banner-header {
    .box-banner-texts {
      height: 40vh;
      width: 70vw;
      gap: 20px;

      h2 {
        font-size: 2.3rem;
      }

      p {
        font-size: 1.5rem;
        width: 50%;
        margin-bottom: 20px;
      }
    }
  }

  .container-button-header {
    .btn-header-saiba-mais {
      margin-bottom: 0;
    }
  }

  .flex-container-cards {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .card-1 {
    width: 48%;
    max-width: 450px;
  }

  .alertas-section {
    height: auto;
    padding-bottom: 40px;

    h2 {
      font-size: 2.2rem;
      padding: 30px 0;
    }
  }

  .flex-container-cards-alertas {
    gap: 20px;

    .card-alert1,
    .card-alert2,
    .card-alert3,
    .card-alert4 {
      width: 90%;
      max-width: 450px;
      height: auto;
      padding: 15px;
    }
  }

  footer {
    height: auto;
    padding-bottom: 20px;

    .footer-texts-container {
      width: 95%;
      flex-wrap: wrap;
      gap: 30px;
      padding: 40px 0;

      article {
        width: 45%;
        text-align: left;
        align-items: flex-start;
      }
      article:nth-child(3),
      article:nth-child(4) {
        width: 45%;
      }
    }
  }
}

//
// -- 700px --
//

@media (max-width: 700px) {
  header {
    height: auto;
    padding-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-image: none;

    .box-links-header {
      height: auto;
      flex-direction: row;
      width: 90%;
      padding: 10px 0;
      border-radius: 10px;
      justify-content: space-around;

      img {
        width: 15%;
      }

      nav {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;

        a {
          font-size: 0.9rem;
        }
      }
    }
  }

  .box-banner-header {
    width: 90vw;
    height: auto;
    justify-content: center;
    padding: 20px 0;

    .box-banner-texts {
      height: auto;
      width: 100%;
      text-align: center;
      align-items: center;
      gap: 15px;

      h2 {
        font-size: 2.2rem;
        width: 90%;
      }

      p {
        font-size: 1.2rem;
        width: 90%;
        margin-bottom: 15px;
      }
    }
  }

  .container-button-header {
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto;

    .btn-header-agendar,
    .btn-header-saiba-mais {
      width: 100%;
      padding: 15px 0;
      font-size: 1rem;
    }
  }

  .first-main-section {
    .texts-main-section {
      width: 90%;

      h2 {
        font-size: 2.2rem;
        margin-top: 40px;
      }

      p {
        font-size: 1.2rem;
        margin: 20px 0 40px 0;
      }
    }
  }

  .flex-container-cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin-bottom: 40px;
  }

  .card-1 {
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 20px;
  }

  .alertas-section {
    h2 {
      font-size: 2rem;
      padding-top: 60px;
    }
  }

  .flex-container-cards-alertas {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;

    .card-alert1,
    .card-alert2,
    .card-alert3,
    .card-alert4 {
      width: 100%;
      max-width: 450px;
      height: auto;
      padding: 15px;
    }
  }

  footer {
    height: auto;
    padding-bottom: 20px;
    margin-top: 60px;

    .footer-texts-container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      article {
        width: 100%;
        text-align: center;
        align-items: center;

        img {
          width: 30%;
        }

        p {
          width: 90%;
        }

        nav {
          text-align: center;
        }
      }
      article:nth-child(2) {
        width: 100%;
        text-align: center;
        align-items: center;
      }
      article:nth-child(3) {
        width: 100%;
        text-align: center;
        align-items: center;
      }
    }
  }
}

//
// -- MOBILE (< 500px) --
//

@media (max-width: 500px) {
  header {
    background-image: none;
    height: auto;
    padding-bottom: 2rem;

    .box-links-header {
      width: 90%;
      height: auto;
      padding: 10px 0;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      img {
        width: 25%;
      }

      nav {
        width: 65%;
        @include flex(center, space-evenly);
        margin-top: 0;
        flex-wrap: nowrap;

        a {
          width: auto;
          font-size: 0.75rem;
          text-align: center;
          margin: 0 2px;
        }
      }
    }

    .box-banner-header {
      height: auto;
      width: 98%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0;

      .box-banner-texts {
        height: auto;
        width: 100%;
        padding: 2rem 0 1rem 0;
        align-items: center;
        gap: 15px;

        h2 {
          font-size: 2.2rem;
          line-height: 1.875rem;
          width: 90%;
        }

        p {
          font-size: 1.235rem;
          width: 90%;
          margin-bottom: 1.25rem;
        }
      }
    }
  }

  .container-button-header {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto;

    .btn-header-agendar {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      width: 60%;
      padding: 15px 10px;
      font-size: 0.8rem;
    }

    .btn-header-saiba-mais {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      width: 40%;
      padding: 15px 10px;
      font-size: 0.8rem;
    }
  }

  .first-main-section {
    .texts-main-section {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-top: 20px;
      padding: 0;
      width: 100%;
      
      h2 {
        font-size: 1.425rem;
        width: 97%;
      }
      
      p {
        font-size: 0.950rem;
        width: 97%;
        margin: 5px 0 30px 0;
      }
    }
  }
  
  .flex-container-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
  }

  .card-1 {
    width: 100%;
    max-width: 280px;
    max-height: 200px;
    padding: 20px 10px;
  }

  .alertas-section {
    height: auto;
    padding-bottom: 40px;

    h2 {
      font-size: 1.8rem;
    }

    .flex-container-cards-alertas {
      width: 95%;
      gap: 20px;
      
      .card-alert1,
      .card-alert2,
      .card-alert3,
      .card-alert4 {
        width: 100%;
        min-height: 140px;
        
        .flex-alertas-text {
          justify-content: flex-start;
          
          img {
            width: 30px;
            height: 30px;
          }

          h3 {
            font-weight: bold;
            font-size: 1rem;
          }
        }
        
        p {
          text-align: center;
          font-size: 0.9rem;
        }
      }
    }
  }

  footer {
    height: auto;
    margin-top: 40px;
    font-family: 'Popping', sans-serif;
    
    .footer-texts-container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      
      article {
        width: 100%;
        text-align: center;
        align-items: center;

        a {
          img {
            width: 70%;
          }
        }
        
        p {
          width: 90%;
        }
      }
      
      nav {
        width: 100%;
        text-align: center;
      }
    }
    
    .footer-copyright {
      p {
        width: 80%;
        padding-top: 20px;
        font-size: 0.8rem;
        margin: 0 auto;
      }
    }
  }
}